 <button onclick=scraper()> scrape </button>

  <div class="container text-center">
    <h1>NY Times Scraper</h1>
    <h2><i>Homework</i></h2>
    <div id="articles"></div>
    <!-- <div id="links"></div> -->
    <div id="notes"></div>
  </div>